/* 
TODOs:
- opacity of the light according to the screen width
*/

.right-blue-light-container {
    position: absolute;
    width: 100%;
    overflow: hidden;
    z-index: -100;
}

.right-blue-light {
    position: relative;
    top: -460px;
    right: -830px;
    width: 1870px;
    height: 1870px;

    background: radial-gradient(50% 50% at 50% 50%, #6548D4 0%, rgba(101, 72, 212, 0) 100%);
    z-index: -10;

}